<a href="https://colab.research.google.com/github/para662/dataviz2025/blob/main/dictionary_function_loop_condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary

In [ ]:
#dict จะบอกเป็นลำดับจะต้องระบุ 2 อย่าง
#คือค่ากับตัวที่ระบุ
dict_a = {'abc':'123','def':'456','ghi':'789'}
dict_a

{'abc': '123', 'def': '456', 'ghi': '789'}

In [ ]:
dict_a ['abc']

'123'

In [ ]:
dict_b = {}

In [ ]:
dict_b['a'] = 123

In [ ]:
dict_b

{'a': 123}

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

การ add สมาชิกเข้าไปใน dict

In [ ]:
if 'b' not in dict_b:
    dict_b['b'] = 200

In [ ]:
dict_b

{'a': 123, 'b': 200}

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Thanapong')

In [ ]:
print_myname()

Thanapong

In [ ]:
def print_name(surname,ID,name):        # ตัวอย่าง function ที่ มีครบุกส่วน
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_name('อินทระ','64xxxxxx','ธนพงศ์')

'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 64xxxxxx'

In [ ]:
print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย')

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz3
เขียน function ของ hw 2 ที่รับ input 1 ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 โดยยังไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้


12:30:15, Wednesday - 13:41:07 Thursday

12:53:15, Monday - 00:59:25 Tuesday

16:06:09, Sunday - 11:11:11, Tuesday

In [ ]:
# prompt: The time difference is: 4252 seconds
# The time difference is: -42830 seconds
# The time difference is: -17698 seconds
# ต้องการให้วินาทีไม่ติดลบ

def calculate_time_difference(time_range):
    """
    Calculates the time difference in seconds between two times in hh:mm:ss format.

    Args:
        time_range: A string in the format "hh1:mm1:ss1 - hh2:mm2:ss2".

    Returns:
        The time difference in seconds, always non-negative.
    """
    time1_str, time2_str = time_range.split(' - ')

    def time_to_seconds(time_str):
        h, m, s = map(int, time_str.split(':'))
        return h * 3600 + m * 60 + s

    time1_seconds = time_to_seconds(time1_str)
    time2_seconds = time_to_seconds(time2_str)

    # If time2 is earlier in the day than time1, assume it's on the next day
    if time2_seconds < time1_seconds:
        time2_seconds += 24 * 3600

    return time2_seconds - time1_seconds

# Example usage:
input_time = "12:30:15 - 13:41:07"
difference_in_seconds = calculate_time_difference(input_time)
print(f"The time difference is: {difference_in_seconds} seconds")

input_time_2 = "12:53:15 - 00:59:25"
difference_in_seconds_2 = calculate_time_difference(input_time_2)
print(f"The time difference is: {difference_in_seconds_2} seconds")

input_time_3 = "16:06:09 - 11:11:11"
difference_in_seconds_3 = calculate_time_difference(input_time_3)
print(f"The time difference is: {difference_in_seconds_3} seconds")

The time difference is: 4252 seconds
The time difference is: 43570 seconds
The time difference is: 68702 seconds

In [ ]:
# prompt: เขียนฟังก์ชั่น โดยมีการใช้ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องคำนวณค่าเลยหรือกรอกเเค่ตัวเดียว โดยใช้วันเวลานี้
# 12:30:15, Wednesday - 13:41:07 Thursday
# 12:53:15, Monday - 00:59:25 Tuesday
# 16:06:09, Sunday - 11:11:11, Tuesday

from datetime import datetime, timedelta

def calculate_time_difference_with_date(time_input=None):
    """
    Calculates the time difference in seconds between two datetime strings,
    considering day differences.

    Args:
        time_input: A string in the format "hh1:mm1:ss1, Day1 - hh2:mm2:ss2, Day2".
                    If None, returns 0. If the same day is provided twice,
                    calculates the difference for that day.

    Returns:
        The time difference in seconds, always non-negative. Returns 0 if
        no input is provided.
    """
    if time_input is None:
        return 0

    # Helper function to map day names to a numerical representation for comparison
    def day_to_num(day_name):
        days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
        return days.index(day_name.strip())

    parts = time_input.split(' - ')
    if len(parts) == 1: # Handle case where only one time is given (same day)
        time_str, day_str = parts[0].split(',')
        time_str = time_str.strip()
        day_str = day_str.strip()
        # Assume the second time is the same as the first if only one is given
        time1_str = time_str
        time2_str = time_str
        day1_str = day_str
        day2_str = day_str
    elif len(parts) == 2: # Handle case with two distinct times
        time1_part, time2_part = parts
        time1_str, day1_str = time1_part.split(',')
        time2_str, day2_str = time2_part.split(',')
        time1_str = time1_str.strip()
        day1_str = day1_str.strip()
        time2_str = time2_str.strip()
        day2_str = day2_str.strip()
    else:
        return 0 # Invalid input format

    # Combine time and day for parsing (using a dummy date for parsing convenience)
    date_format = "%H:%M:%S %A"
    dummy_date = "2023-01-01" # Use a dummy date

    try:
        # Parse the datetime objects
        datetime1 = datetime.strptime(f"{time1_str} {day1_str}", date_format)
        datetime2 = datetime.strptime(f"{time2_str} {day2_str}", date_format)

        # Adjust datetime2 if it's on a later day
        day1_num = day_to_num(day1_str)
        day2_num = day_to_num(day2_str)

        if day2_num < day1_num:
            datetime2 += timedelta(days=7 - (day1_num - day2_num))
        elif day2_num > day1_num:
             datetime2 += timedelta(days=day2_num - day1_num)
        elif datetime2 < datetime1: # Same day, but time2 is earlier, means next day
            datetime2 += timedelta(days=1)


        # Calculate the difference
        time_difference = datetime2 - datetime1
        return int(time_difference.total_seconds())

    except ValueError:
        print("Invalid time or day format.")
        return 0

# Example usage:
print(calculate_time_difference_with_date("12:30:15, Wednesday - 13:41:07, Thursday"))
print(calculate_time_difference_with_date("12:53:15, Monday - 00:59:25, Tuesday"))
print(calculate_time_difference_with_date("16:06:09, Sunday - 11:11:11, Tuesday"))
print(calculate_time_difference_with_date("12:00:00, Monday")) # Example for same day
print(calculate_time_difference_with_date()) # Example with default None
print(calculate_time_difference_with_date("10:00:00, Monday - 09:00:00, Monday")) # Example same day, time before

90652
43570
155102
0
0
82800

In [ ]:
#ตรวจสอบให้หน่อยว่ามีdefault ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องคำนวณค่าเลยหรือกรอกเเค่ตัวเดียว โดยใช้วันเวลานี้ พร้อมอธิบาย
from datetime import datetime, timedelta

def calculate_time_difference_with_date(time_input=None):
    """
    Calculates the time difference in seconds between two datetime strings,
    considering day differences.

    Args:
        time_input: A string in the format "hh1:mm1:ss1, Day1 - hh2:mm2:ss2, Day2".
                    If None or only one time is given, returns 0.

    Returns:
        The time difference in seconds, always non-negative. Returns 0 if
        no input or invalid input is provided, or if the times are equal on the same day.
    """
    if time_input is None:
        return 0

    def day_to_num(day_name):
        days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
        try:
            return days.index(day_name.strip())
        except ValueError:
            return -1

    parts = time_input.split(' - ')
    if len(parts) != 2:
        return 0

    try:
        time1_part, time2_part = parts
        time1_str, day1_str = time1_part.split(',')
        time2_str, day2_str = time2_part.split(',')

        time1_str = time1_str.strip()
        day1_str = day1_str.strip()
        time2_str = time2_str.strip()
        day2_str = day2_str.strip()

        # เงื่อนไข: ถ้าเวลาและวันเหมือนกัน → ไม่ต้องคำนวณ
        if day1_str == day2_str and time1_str == time2_str:
            return 0

    except ValueError:
        return 0

    full_date_format = "%Y-%m-%d %H:%M:%S"
    base_date = datetime(2000, 1, 1)  # Monday

    day1_num = day_to_num(day1_str)
    day2_num = day_to_num(day2_str)

    if day1_num == -1 or day2_num == -1:
        return 0

    try:
        date1 = base_date + timedelta(days=day1_num)
        date2 = base_date + timedelta(days=day2_num)

        datetime1 = datetime.strptime(f"{date1.strftime('%Y-%m-%d')} {time1_str}", full_date_format)
        datetime2 = datetime.strptime(f"{date2.strftime('%Y-%m-%d')} {time2_str}", full_date_format)

        if datetime2 < datetime1:
            datetime2 += timedelta(weeks=1)

        time_difference = datetime2 - datetime1
        return int(time_difference.total_seconds())

    except Exception:
        return 0

In [ ]:
print(f"Case 1: {calculate_time_difference_with_date('12:30:15, Wednesday - 13:41:07, Thursday')} seconds")
print(f"Case 2: {calculate_time_difference_with_date('12:53:15, Monday - 00:59:25, Tuesday')} seconds")
print(f"Case 3: {calculate_time_difference_with_date('16:06:09, Sunday - 11:11:11, Tuesday')} seconds")
print(f"Same datetime: {calculate_time_difference_with_date('12:00:00, Monday - 12:00:00, Monday')} seconds")
print(f"Only one datetime: {calculate_time_difference_with_date('12:00:00, Monday')} seconds")

Case 1: 90652 seconds
Case 2: 43570 seconds
Case 3: 155102 seconds
Same datetime: 0 seconds
Only one datetime: 0 seconds

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

ตัวอย่าง quiz 6

In [ ]:
# prompt: ช่วยสร้าง function คำนวณ จำนวนวินาที ที่เเตกต่างระหว่าง input hh:mm:ss, day of the week 2 คำ

def calculate_time_difference_with_date(time_input=None):
    """
    Calculates the time difference in seconds between two datetime strings,
    considering day differences.

    Args:
        time_input: A string in the format "hh1:mm1:ss1, Day1 - hh2:mm2:ss2, Day2".
                    If None or only one time is given, returns 0.

    Returns:
        The time difference in seconds, always non-negative. Returns 0 if
        no input or invalid input is provided, or if the times are equal on the same day.
    """
    if time_input is None:
        return 0

    def day_to_num(day_name):
        days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
        try:
            return days.index(day_name.strip())
        except ValueError:
            return -1

    parts = time_input.split(' - ')
    # ตรวจสอบว่ามี 2 ส่วน (time1 และ time2) หากไม่ใช่ ให้คืนค่า 0 ทันที
    if len(parts) != 2:
        return 0

    try:
        time1_part, time2_part = parts
        # แยกเวลาและวันออกจากกันสำหรับส่วนที่ 1
        time1_str, day1_str = time1_part.split(',')
        # แยกเวลาและวันออกจากกันสำหรับส่วนที่ 2
        time2_str, day2_str = time2_part.split(',')

        # ลบช่องว่างนำหน้าและต่อท้ายออกจากสตริง
        time1_str = time1_str.strip()
        day1_str = day1_str.strip()
        time2_str = time2_str.strip()
        day2_str = day2_str.strip()

        # เงื่อนไข: ถ้าเวลาและวันเหมือนกัน → ไม่ต้องคำนวณ ให้คืนค่า 0
        if day1_str == day2_str and time1_str == time2_str:
            return 0

    except ValueError:
        # หากเกิดข้อผิดพลาดในการแยกสตริง แสดงว่ารูปแบบ input ไม่ถูกต้อง ให้คืนค่า 0
        return 0

    full_date_format = "%Y-%m-%d %H:%M:%S"
    base_date = datetime(2000, 1, 1)  # กำหนดวันฐานเป็นวันจันทร์

    # แปลงชื่อวันเป็นตัวเลข (0 สำหรับ Monday, 1 สำหรับ Tuesday, ...)
    day1_num = day_to_num(day1_str)
    day2_num = day_to_num(day2_str)

    # หากชื่อวันไม่ถูกต้อง ให้คืนค่า 0
    if day1_num == -1 or day2_num == -1:
        return 0

    try:
        # สร้างอ็อบเจกต์ date โดยใช้ base_date และเพิ่มจำนวนวันตาม day_num
        date1 = base_date + timedelta(days=day1_num)
        date2 = base_date + timedelta(days=day2_num)

        # สร้างอ็อบเจกต์ datetime โดยรวม date และ time string
        datetime1 = datetime.strptime(f"{date1.strftime('%Y-%m-%d')} {time1_str}", full_date_format)
        datetime2 = datetime.strptime(f"{date2.strftime('%Y-%m-%d')} {time2_str}", full_date_format)

        # หาก datetime2 มาก่อน datetime1 ให้ถือว่า datetime2 อยู่ในสัปดาห์ถัดไป และเพิ่มเวลาไป 1 สัปดาห์
        if datetime2 < datetime1:
            datetime2 += timedelta(weeks=1)

        # คำนวณความแตกต่างของเวลาและแปลงเป็นวินาทีทั้งหมด
        time_difference = datetime2 - datetime1
        return int(time_difference.total_seconds())

    except Exception:
        # หากเกิดข้อผิดพลาดอื่นๆ ในระหว่างการประมวลผล ให้คืนค่า 0
        return 0

# ตัวอย่างการใช้งานตามที่โจทย์ต้องการ
print(f"Case 1: {'12:30:15, Wednesday - 13:41:07, Thursday'} -> {calculate_time_difference_with_date('12:30:15, Wednesday - 13:41:07, Thursday')} seconds")
print(f"Case 2: {'12:53:15, Monday - 00:59:25, Tuesday'} -> {calculate_time_difference_with_date('12:53:15, Monday - 00:59:25, Tuesday')} seconds")
print(f"Case 3: {'16:06:09, Sunday - 11:11:11, Tuesday'} -> {calculate_time_difference_with_date('16:06:09, Sunday - 11:11:11, Tuesday')} seconds")
print(f"Same datetime: {'12:00:00, Monday - 12:00:00, Monday'} -> {calculate_time_difference_with_date('12:00:00, Monday - 12:00:00, Monday')} seconds")
print(f"Only one datetime: {'12:00:00, Monday'} -> {calculate_time_difference_with_date('12:00:00, Monday')} seconds") # ตัวอย่าง input ที่ไม่ถูกต้องตาม format ที่ต้องการ
print(f"Invalid format: {'invalid input'} -> {calculate_time_difference_with_date('invalid input')} seconds") # ตัวอย่าง input ที่ไม่ถูกต้อง

#HW3 เพิ่ม ลูบ เข้าไปใน quiz 6 โดยวนลูป คำนวณ วินาทีในโจทย์ต่อไปนี้
[
    ("10:00:00", "Monday", "11:30:00", 5400),  # Same day, later time
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),  # Same day, earlier time
    ("23:00:00", "Sunday", "01:00:00", , 7200),  # Cross midnight
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),  # Cross midnight (reverse)
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200), # Multiple days difference
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200), # Multiple days difference (reverse)
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),      # Same time, same day
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 24*3600), # Same time, next day
    ("00:00:00", "Monday", "23:59:59", , 24*3600 - 1), # Almost 24 hours later
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),       # One second difference across midnight

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [1]:
range5_output = range(100)
print(list(range5_output))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

# quiz 7 วนลูบ แสดงค่า ตัวเลขออกมาเป็นสามเหลี่ยม ตามตัวอย่างนี้
ex :
1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

In [7]:
# prompt: แสดงค่า ตัวเลขออกมาเป็นสามเหลี่ยม ตามตัวอย่างนี้
# ex :
# 1
# 2 4
# 3 6 9
# 4 8 12 16
# 5 10 15 20 25

for i in range(1, 6):
  for j in range(1, i + 1):
    print(i * j, end=' ')
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [5]:
index = 0
for i in 'thanapong':
    print(f'สมาชิกคือ {i} เป็นลำดับเลขที่ {index} ')

สมาชิกคือ t เป็นลำดับเลขที่ 0
สมาชิกคือ h เป็นลำดับเลขที่ 0
สมาชิกคือ a เป็นลำดับเลขที่ 0
สมาชิกคือ n เป็นลำดับเลขที่ 0
สมาชิกคือ a เป็นลำดับเลขที่ 0
สมาชิกคือ p เป็นลำดับเลขที่ 0
สมาชิกคือ o เป็นลำดับเลขที่ 0
สมาชิกคือ n เป็นลำดับเลขที่ 0
สมาชิกคือ g เป็นลำดับเลขที่ 0

In [6]:
for index, i in enumerate('thanapong'):
    print(f'สมาชิกคือ {i} เป็นลำดับเลขที่ {index} ')

สมาชิกคือ t เป็นลำดับเลขที่ 0
สมาชิกคือ h เป็นลำดับเลขที่ 1
สมาชิกคือ a เป็นลำดับเลขที่ 2
สมาชิกคือ n เป็นลำดับเลขที่ 3
สมาชิกคือ a เป็นลำดับเลขที่ 4
สมาชิกคือ p เป็นลำดับเลขที่ 5
สมาชิกคือ o เป็นลำดับเลขที่ 6
สมาชิกคือ n เป็นลำดับเลขที่ 7
สมาชิกคือ g เป็นลำดับเลขที่ 8

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [11]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [8]:
list_friends = ['แบม','บม','แบมบี้','คุณหนูเบียร์','พ่อใหญ่เฟิร์ส','อ้ายสีหนุ่ม']

In [12]:
print_feelings('นนท์',list_friends)

นนท์ คิดถึง แบม
นนท์ คิดถึง บม
นนท์ คิดถึง แบมบี้
นนท์ คิดถึง คุณหนูเบียร์
นนท์ คิดถึง พ่อใหญ่เฟิร์ส
นนท์ คิดถึง อ้ายสีหนุ่ม

In [15]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก แบม
เจมส์ รัก บม
เจมส์ รัก แบมบี้
เจมส์ รัก คุณหนูเบียร์
เจมส์ รัก พ่อใหญ่เฟิร์ส
เจมส์ รัก อ้ายสีหนุ่ม

จบ 24 มิย 67

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [ ]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [ ]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [ ]:
if (1>0) & (0>-1):
    print(True & True)

True

In [ ]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

# Finish