<a href="https://colab.research.google.com/github/para662/dataviz2025/blob/main/Python101_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# hashtag, sharp ใช้สำหรับคอมเม้น (comment)

# จัดระเบียบ Document และ ทำ Index

# Header1

## Header2

`(`prenthesis or bracket`)`

`[`square brackets`]`

`{`curly brackets `}`

# Variables

In [ ]:
3.14159265359 # ค่า Pi

3.14159265359

หลักการตั้งชื่อตัวแปรเบื้องต้น

1.   ตั้งให้สื่อ
2.   ภาษาอังกฤษ
3.   ใช้ตัวเลขได้แต่ห้ามขึ้นต้นด้วยตัวเลข
4.   ห้ามเว้นวรรค

In [ ]:
pi = 3.14159265359

In [ ]:
pi

3.14159265359

### int : จำนวนเต็ม

In [ ]:
int_a = 10

In [ ]:
print(int_a)

10

### float : จำนวนจริง (ทศนิยม)

In [ ]:
float_b = 10.
print(float_b)

10.0

###  ตัวอักษร (char (character)) ข้อความ (text หรือ string)

In [ ]:
str_c = 'ธนพงศ์'   # เราจะบอกว่าตัวแปรเป็นตัวอักษรหรือข้อความโดยการใช้ single quote ' หรือ double quote " ล้อมรอบ
print(str_c)

ธนพงศ์

### ตัวแปรต่างชนิดกันไม่สามารถทำ operation กันได้

In [ ]:
print(str_c + "STAT")  # string + string

ธนพงศ์STAT

In [ ]:
print(int_a + 13) # int + int

23

In [ ]:
print(str_c + int_a)

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(str_c + str(int_a))  # แปลง int_a เป็นสตริงก่อนการต่อ

In [ ]:
str_d = '123'

In [ ]:
print(str_d + int_a)

In [ ]:
int(str_d) + int_a

### variable casting (การเปลี่ยนชนิดของข้อมูล)

In [ ]:
int(str_d) + 1

In [ ]:
print(int_a)
print(float(int_a))
print(str(int_a))

# Operation (Operators +,-,*,/,%)

In [ ]:
int_a + float_b

In [ ]:
ab = int_a + float_b
print(ab)

#### % คือหมาย modulo

In [ ]:
5%3

In [ ]:
7%3

** ยกกำลัง

In [ ]:
2**10

In [ ]:
4**0.5

### คำสั่ง print แบบพิเศษ (การ format string)

``` f'ข้อความธรรมดา {code} ข้อความธรรมดา {code}'```

In [ ]:
print(f'% คือการหารเอาเศษ เช่น 7%3 = {7%3}') # เพิ่ม f หน้า 'string' และใช้ {} ใส่ code

In [ ]:
print(f'% คือการหารเอาเศษ เช่น 7%3 = {7%3} \
        \n / คือการหารปกติ เช่น 7/3 = {7/3}  \
        \n // คือการหารเอาส่วน เช่น 7//3 = {7//3}) \
        หรือ\nใช้ int() เพื่อหารเอาส่วน เช่น int(7/3) = {int(7/3)} \
      \nตัวแปร int_a คือ {int_a}') # \n คือการขึ้นบรรทัดใหม่ \ ใช้ในการตัด code แต่ com จะไม่เห็น

## DATA STRUCTURE (โครงสร้างข้อมูล)

### List คือ การเอาตัวแปรหลายๆตัวมาเรียงกัน
#### list สามารถสร้างได้ 2แบบ ดังนี้

#### แบบที่1 > square brackets

In [ ]:
list_a = []
print(list_a)

In [ ]:
list_b = [1,5,'v']
print(list_b)

#### แบบที่2

In [ ]:
list_c = list()
print(list_c)

### ลำดับที่อยู่ใน list มีความสำคัญ (ลำดับใน list เริ่มจาก 0,1,2,...)

In [ ]:
list_b[2]

## append() เพิ่มสมาชิกใน list

In [ ]:
list_b.append('u')
print(list_b)

In [ ]:
list_b.pop() ### ดึงสมาชิกที่สุดท้ายออกจาก list

In [ ]:
list_b

In [ ]:
list_a.append('sci')

In [ ]:
list_b.append(list_a)
print(list_b)

## String > list of characters

In [ ]:
t = '`python is easy really'
t

'`python is easy really'

In [ ]:
t[7] # ชี้ (indexing)

'i'

In [ ]:
len(list_b) # len คือคำสั่งตรวจสอบความยาวของ list (จำนวนสมาชิก)

NameError: name 'list_b' is not defined

In [ ]:
len(t)

14

### access a member of a list (list&string)
#### โดยการเริ่มนับจะเริ่มนับจาก 0
#### 0 คือสมาชิกตัวแรก , -1 คือสมาชิกตัวสุดท้าย

In [ ]:
t[0]

'p'

In [ ]:
t[-1]

'y'

In [ ]:
t[-8]

IndexError: string index out of range

### ตัวที่อยู่ข้างใน [ ] เราเรียกว่า index (ตัวชี้)

### List slicing สามารถทำได้โดยใช้ colon :
[a:b] -> [a,b)
![9.gif]()

In [ ]:
t = 'python is easy'

In [ ]:
print(t)
print(t[12:17])

`really

ถ้าเว้นว่างหน้า : หมายความว่า เริ่มตั้งแต่ตัวแรก

ถ้าเว้นว่างหลัง : หมายความว่า ไปจนถึงตัวสุดท้าย

In [ ]:
print(t)
print(t[:6]) # เอาตัวเเรกสุดเป็นตัวหน้า
print(t[10:])
print(t[-4:])
print(t[:]) # เอาทั้งหมด

`python is easy really
`pytho
 easy really
ally
`python is easy really

In [ ]:
print(t[::2])  ## : ตัวที่สอง กำหนด step

In [ ]:
print(t[::-1])

In [ ]:
# prompt: ต้ิงเขียนโค๊ดยังไงให้ได้ ysae

print(t[10:14])

In [ ]:
print(t[10:14])

 eas

In [ ]:
X = 'SIDS, Department of Statistics'
X += ' ,KKU'
X + '2025'
#print คำว่า maD Stat จากตัวแปร X

'SIDS, Department of Statistics ,KKU2025'

In [ ]:
print(X[12:5:-3])

maD

### range() สร้าง list ของตัวเลขที่เรียงกัน

In [ ]:
print(list(range(10)))

In [ ]:
print(list(range(10))[::2])

#### เราสามารถเอา list มาต่อกันได้ด้วย +

In [ ]:
 t + '??'

In [ ]:
t + list_b ## ไม่สามารถเอา list ปกติมาต่อกับ string ได้

In [ ]:
list_b + list_a

In [ ]:
list_a

In [ ]:
list_a + list_a

In [ ]:
6*list_a

#### การแบ่ง string ตามสัญลักษณ์ที่กำหนด -> split string

In [ ]:
t

In [ ]:
t.split(' ')

In [ ]:
time = '12:30:15'

In [ ]:
time.split(':')

In [ ]:
print(t)
t_sp = t.split(' ')
print(t_sp)

## วิธีรวมกลับ

print(':'.join(t_sp))

### HW1 คำนวณช่วงเวลาเป็นวินาทีของช่วงเวลาต่อไปนี้โดยใช้คำสั่ง split() ช่วย (print ออกมาให้สวยงาม)
12:30:15, Wednesday - 13:41:07 Thursday

12:53:15, Monday - 00:59:25 Tuesday

16:06:09, Sunday - 11:11:11, Tuesday

In [9]:
def time_to_seconds(time_str):
  """Converts a time string (HH:MM:SS) to seconds since midnight."""
  h, m, s = map(int, time_str.split(':'))
  return h * 3600 + m * 60 + s

day_order = {"Monday": 0, "Tuesday": 1, "Wednesday": 2, "Thursday": 3, "Friday": 4, "Saturday": 5, "Sunday": 6}

def calculate_duration_in_seconds(start_time_str, start_day_str, end_time_str, end_day_str):
  """Calculates the duration in seconds between two points in time across days."""
  start_seconds = time_to_seconds(start_time_str)
  end_seconds = time_to_seconds(end_time_str)

  start_day_index = day_order[start_day_str]
  end_day_index = day_order[end_day_str]

  day_difference = (end_day_index - start_day_index) % 7
  if day_difference < 0:
      day_difference += 7

  total_seconds = day_difference * 24 * 3600 + (end_seconds - start_seconds)

  if total_seconds < 0:
      total_seconds += 7 * 24 * 3600

  return total_seconds

--- Calculating Durations ---

In [10]:
# Example 1
start_time_1 = '12:30:15'
start_day_1 = 'Wednesday'
end_time_1 = '13:41:07'
end_day_1 = 'Thursday'
duration_1 = calculate_duration_in_seconds(start_time_1, start_day_1, end_time_1, end_day_1)
print(f"Duration from {start_time_1}, {start_day_1} to {end_time_1}, {end_day_1}: {duration_1} seconds")

Duration from 12:30:15, Wednesday to 13:41:07, Thursday: 90652 seconds

In [7]:
# Example 2
start_time_2 = '12:53:15'
start_day_2 = 'Monday'
end_time_2 = '00:59:25'
end_day_2 = 'Tuesday'
duration_2 = calculate_duration_in_seconds(start_time_2, start_day_2, end_time_2, end_day_2)
print(f"Duration from {start_time_2}, {start_day_2} to {end_time_2}, {end_day_2}: {duration_2} seconds")

Duration from 12:53:15, Monday to 00:59:25, Tuesday: 43570 seconds

In [8]:
# Example 3
start_time_3 = '16:06:09'
start_day_3 = 'Sunday'
end_time_3 = '11:11:11'
end_day_3 = 'Tuesday'
duration_3 = calculate_duration_in_seconds(start_time_3, start_day_3, end_time_3, end_day_3)
print(f"Duration from {start_time_3}, {start_day_3} to {end_time_3}, {end_day_3}: {duration_3} seconds")

Duration from 16:06:09, Sunday to 11:11:11, Tuesday: 155102 seconds

# ยังไม่ต้องทำ
## ให้สร้างฟังก์ชั่นคำนวณเวลาเป็นวินาทีของเวลาใดๆ และ print ออกมาให้สวยงาม

## ให้ สร้าง list ของ เวลา ```['12:30:15','13:41:07',....]``` แล้ววนลูปเรียกฟังก์ชั่นคำนวณเวลาเป็น วินาที

**commit ว่า HW3**

In [ ]:
X = 'SIDS, Department of Statistics ,KKU'
print(X[12] + X[9] + X[6] + ' ' + X[20:24])

maD Stat